html {
	height: 100%;
	padding: 0;
	margin: 0;
	font: 10px/1.5 helvetica, verdana;
	background: #999;
	color: #f4f4f4;
	text-align: center;
}

h1 {
	margin: .5em 0 .1em;
	font-size: 300%;
}

.hide-cursor {
	cursor: none;
}

#page {
	width: 100%;
}

#wrapper {
	width: 960px;
	margin: 20px auto;
}

#video {
	width: 960px;
	height: 540px;
	background: black;
}

#tuner {
	position: relative;
	margin-top: 20px;
	width: 960px;
	height: 20px;
	background: #BBB;
}

#indicator {
	position:absolute;
	width: 10px;
	height: 100%;
	background: white;
}

.station {
	display: table;
	position: absolute;
	height: 100%;
	background: #2A0;
}

.station span {
	display: table-cell;
	vertical-align: middle;
}

#help {
	margin-top: 15px;
}