html {
	height: 100%;
	padding: 0;
	margin: 0;
	font: 10px/1.5 helvetica, verdana;
	background: #0D0D0D;
	color: #f4f4f4;
	text-align: center;
}

h1 {
	margin: .5em 0 .1em;
	font-size: 300%;
}

.hide-cursor {
	cursor: none;
}

#page {
	width: 100%; height: 100%;
	background: #0D0D0D;
}

#wrapper {
	width: 1280px;
	margin: 20px auto;
}

#video {
	width: 1280px;
	height: 800px;
	background: black;
}

#tuner {
	position: relative;
	margin-top: 40px;
	margin-left: 295px;
	width: 660px;
	height: 160px;
	background: #777;
	/*background: #1D1D1D;*/

	background-image: -webkit-linear-gradient(top, #30231C 0%, #000 100%);
}

#indicator {
	position:absolute;
	width: 5px;
	height: 100%;
	/*background: #94000C; */
	background: #94000C;
	box-shadow: 0 0 30px 1px #A80;
}

#focal{
	display:block;
	width: 1px;
	height: 100%;
	margin-left: 2px;
	background: #f33;
}

.station {
	/*
	display: table;*/
	display:none;
	position: absolute;
	height: 100%;
	background: #272727;
}

.station span {
	display: table-cell;
	vertical-align: middle;
}

#help {
	margin-top: 15px;
}